/* --------- FONTS --------------- */

/*HeydingsCommonIcons */
@font-face {
    font-family: 'heydings_icons';
    src: font-url('heydings_icons.ttf')  unquote("format('truetype')");
    font-weight: normal;
    font-style: normal;
}


 