

 #content-wrapper {
	position: absolute;
}


#nav-pin { position: relative; overflow: hidden; 
 }			
#premier-zero{ 
			
 			height: 800px;
 			clear: both;
 	background: asset-url("shar.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 
					  #text-scroll{
					  	img{float: left;}
					position: relative;
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5)}
					h2{
					margin-left: 150px;

				}	  
}	


.eng{		
	overflow: hidden;	
	#text-scroll {
		text-align: left !important;
	}

}
 #examples-eng2-zero{ 
 		color: #222438;
	
 	background-color: white;
		
		h2{color:  #0097d0;}
		#pict-eng img {opacity: 1!important;}
		#fly-it-one img{
		opacity: 0;
		border: 1px solid white;
		margin-left: 10%;
		position: absolute;
		z-index: 100;
	}
		#fly-it-tree img{
			padding: 10%;
			border: none;
		}
	 	section img{
	 	
	 		opacity: 0;
			border: 1px solid white;			
	 	}
	 	


	#zero-eng{ 		
 				height: 600px;
 				clear: both;
 				overflow: hidden;
 				 #text-scroll{
					text-align: center  !important;
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);

				}	
 	background: asset-url("8.jpg");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 	
}	
}


#examples-eng2-one{ 
			position: relative;
 		h2{
 			color: #df2223;
 		}		
		 background: asset-url("p1.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed;
				#text-scroll{		
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);

				}
		#slade-one	{
				clear: both;
				height: 800px;
				background: asset-url("4.jpg") no-repeat;
 			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
		}				   
}	

#examples-eng2-two{ 
	position: relative;
	h2{
		color: #f3c000;
	}
 			 background: asset-url("bus.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed;
				#text-scroll{
					
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);

				}
		#slade-two	{
				clear: both;
				height: 800px;
				background: asset-url("3.jpg") no-repeat;
 			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
		}		
			   
}	
#examples-eng2-tree{
		color: #222438; 
		background-color: white;
		position: relative;
		h2{color:  #009752;}	
	
	#spin-it-one img{
		opacity: 0;
		border: 1px solid white;
		
		margin-top: -20%;
		margin-left: 30%;
		position: relative;
		z-index: 100;
	}
	#spin-it-two img{
		opacity: 0;
		border: 1px solid white;
	
		margin-top: -40%;
		margin-left: -50%;
		position: relative;
		z-index: 200;
	}
	#tree-eng{ 		
 				height: 800px;
 				clear: both;
 				overflow: hidden;
 	background: asset-url("8.jpg");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 	
}	

				   
}

#examples-eng2-four{ 
		color: #222438; 
		background-color: white;
		position: relative;
 		h2{color: #f3c000;}
 		#move-one img{
		opacity: 0;
		border: 1px solid white;	
		margin-top: 10%;
		margin-left: 10%;
		position: relative;
		z-index: 100;
	}	
	#four-eng{ 		
 				height: 600px;
 				clear: both;
 				overflow: hidden;
 	background: asset-url("5.jpg");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 		   
}
}
#examples-eng2-five{ 
 		background: asset-url("p1.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed;
				#text-scroll{
					h2{color: #df2223;}
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);
				}					   

#slade-five	{
				clear: both;
				height: 600px;
				background: asset-url("3.jpg") no-repeat;
 			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
		
}
}	
#examples-eng2-six{
	background: asset-url("p2.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed;
	
				#text-scroll{
					h2{color: #009752;}					
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);
				}
#slade-six	{
				clear: both;
				height: 800px;
				background: asset-url("4.jpg") no-repeat;
 			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
		}				   	   
}	
#examples-eng2-seven{
		color: #222438; 
		background-color: white;
		position: relative;
		h2{color:  #0097d0;}	

	img{	padding: 5%;
	 		position: relative;
	 		opacity: 1;
			
	 	}
	#seven-eng{ height: 600px;
 				clear: both;
 				overflow: hidden;
 	background: asset-url("7.jpg");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 		   
}
}
				   
	
#examples-eng2-eight{
		color: #222438; 
		background-color: white;
		position: relative; 
	h2{color:  #f3c000;}	
	img {	padding: 5%;
	 		position: relative;
	 		opacity: 1;
			
	 	}	
	#fini{ 
 			height: 800px;
 			clear: both;
 	background: asset-url("6.jpg");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 
					  #text-scroll{
					  
					  	h2{color: #df2223;

				}	  
					position: relative;
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);

				}	  
}		   
}

.visability{
	opacity: 1;
	height: 800px;
	padding-top: 400px;
}

#examples-my { position: relative; width: 100%; height: 100%; overflow: hidden;
	 section {width: 50%; float: left;text-align: left !important;}
	 .show-it{ 
	 	#show-one{visibility: hidden;}
	 	#show-two{visibility: hidden;}
	 }
	 .pictures{ 
		 			}
 }

	 	
#fling-it, #move-it { position: relative; }
#showcase { 
	padding: 60px 0;background:  asset-url("lu.png")top center;background-repeat: no-repeat;
	h1{ margin-top: 300px;}				
	
}
.gallery { width: 960px; margin: 0 auto; text-align: center; }
.gallery figure { text-align: center; float: left; margin: 10px; height: 270px; display: inline-block; }

#howtouse { padding-top: 200px; }

.divider { font-size: 14px; padding-top: 20px; }

.disclaimer {
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	margin: 0 auto;
}


