

 #content-wrapper {clear: both;overflow: hidden;
	
}


#nav-pin { position: relative; overflow: hidden; 
 }			
#premier-zero{ 
			
 			min-height: 900px;
 			clear: both;
 	background: asset-url("shar.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 
			  #text-scroll{
					  	img{float: left;}
					position: relative;
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5)
				}
		
}	
.eng{		
	overflow: hidden;	
	#text-scroll {
		text-align: left !important;
	}

}
 #examples-eng2-zero{ 
 		color: #222438;
	
 	background-color: white;
		
		h2{color:  #0097d0;}
		#pict-eng img {opacity: 1!important;}
		#fly-it-one img{
		padding: 10%;
	}
		#fly-it-tree img{
			padding: 10%;
			border: none;
		}
	 	section img{
	 		opacity: 0;	
	 	}
	 	


	#zero-eng{ 		
 				min-height: 900px;
 				clear: both;
 				overflow: hidden;
 		#text-scroll {
					text-align: center  !important;
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);

				}	
 	background: asset-url("polo.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 	
}	
}


#examples-eng2-one{ 
			position: relative;
 		h2{
 			color: #df2223;
 		}		
		 background: asset-url("dorogi.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed;
				#text-scroll{		
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);
				}
		
}	
#slade-one	{
				min-height: 900px;
				background: asset-url("cm.png") no-repeat;
 			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			     background-repeat:no-repeat;
				background-attachment:fixed; 	

		}				   
#examples-eng2-two{ 
	position: relative;
	h2{
		color: #f3c000;
	}
 			 background: asset-url("velo.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed;
				#text-scroll{
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);

				}
		#slade-two	{
				clear: both;
				height: 800px;
				background: asset-url("bus.png") no-repeat;
 			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			     background-repeat:no-repeat;
				background-attachment:fixed; 	
		}		
			   
}	
#examples-eng2-tree{
		color: #222438; 
		background-color: white;
		position: relative;
		h2{color:  #009752;}	
	
	#spin-it-one img{
		width: 80%;
		opacity: 0;
		margin-top: -20%;
		margin-left: 30%;
		z-index: 100;
	}
	#spin-it-two img{
		width: 80%;
		opacity: 0;
		margin-top: -60%;
		margin-left: -50%;
		z-index: 200;
	}
	
}
#slade-three{ 		
 				height: 900px;
 				clear: both;
 				overflow: hidden;
 	background: asset-url("sport4.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 
				 background-repeat:no-repeat;
				background-attachment:fixed; 		
}					   
#examples-eng2-four{ 
		color: #222438; 
		background-color: white;
		position: relative;
		move-one img {width: 50%;}
		move-two img {width: 50%;}
 		h2{color: #f3c000;}
 		#move-one img{
		opacity: 0;
		margin-top: 10%;
		margin-left: 10%;
		position: relative;
		z-index: 100;
	}	
	#four-eng{ 		
 				height: 900px;
 				clear: both;
 				overflow: hidden;
 	background: asset-url("jil1.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 		   
}
}
#examples-eng2-five{ 
 		background: asset-url("unic.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed;
				#text-scroll{
					h2{color: #df2223;}
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);
				}					   

#slade-five	{
				clear: both;
				height: 900px;
				background: asset-url("uni2.png") no-repeat;
 			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			     background-repeat:no-repeat;
				background-attachment:fixed; 	
		
}
}	
#examples-eng2-six{
	background: asset-url("decor1.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed;
	
				#text-scroll{
					h2{color: #009752;}					
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);
				}
#slade-six	{
				clear: both;
				height: 900px;
				background: asset-url("decor.png") no-repeat;
 			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			     background-repeat:no-repeat;
				background-attachment:fixed; 	
		}				   	   
}	
#examples-eng2-seven{
		color: #222438; 
		background-color: white;
		position: relative;
		h2{color:  #0097d0;}	

	img{	padding: 5%;
	 		position: relative;
	 		opacity: 1;
			
	 	}
	#seven-eng{ height: 900px;
 				clear: both;
 				overflow: hidden;
 	background: asset-url("der3.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 		   
}
}
				   
	
#examples-eng2-eight{
		color: #222438; 
		background-color: white;
		position: relative; 
	h2{color:  #f3c000;}	
	img {	padding: 5%;
	 		position: relative;
	 		opacity: 1;
			
	 	}	
	#fini{ 
 			height: 900px;
 			clear: both;
 	background: asset-url("un1.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed; 
					  #text-scroll{
					  
					  	h2{color: #df2223;

				}	  
					position: relative;
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);

				}	  
}		   
}

#fling-it, #move-it { position: relative; }



#stat{
	color: #222438;
	text-align: left!important;
	background-color: #009752;
	#hire { padding:80px; }
	li {text-align: left!important;
		font-size: .5em;
	}
	#date-col{overflow: hidden;
		h6	{float: right;right: 0;margin-bottom: 5px;}
		h5{float: left;}
		border-bottom: 1px solid white;
		margin-bottom:10px;
	}
	
}

#examples-eng2-foot{
#showcase {
.gallery {margin: 0 auto; text-align: center;  padding: 60px 0;
figure { text-align: left; margin: 10px; height:270px; display: block; }
}
figcaption { color: white; }
#buttons{
	background: asset-url("lu.png") no-repeat;
}
}
	height: 100%;
	background: asset-url("smi.png");
			    -moz-background-size: 100%; /* Firefox 3.6+ */
			    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			    -o-background-size: 100%; /* Opera 9.6+ */
			    background-size: 100%; /* Современные браузеры */
			    background-repeat:no-repeat;
				background-attachment:fixed;
				#text-scroll{
					h2{color: #df2223;}
					color: white;
					padding: 30px;
					background: rgba(34,36,56,0.5);
				}
#logotyp{margin-top: -50px;}
}



.divider { font-size: 14px; padding-top: 20px; }

.disclaimer {
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	margin: 0 auto;
}


