<div class="simple-demo">
	<div id="content-wrapper">

		<div id="examples-1">
			<h2 id="fade-it">Fade It</h2>
			<h2 id="fly-it">Fly It</h2>
			<h2 id="spin-it">Spin It</h2>
			<h2 id="scale-it">Scale It</h2>
			<h2 id="smush-it">Smush It</h2>
		</div>

		<div id="examples-pin">
			<div id="pin-frame-pin" class="pin-frame"><h2>Pin It</h2></div>
			<div id="pin-frame-slide" class="pin-frame"><h2>Slide It</h2></div>
			<div id="pin-frame-wipe" class="pin-frame"><h2>Wipe It</h2></div>
			<div id="pin-frame-bounce" class="pin-frame"><h2>Bounce It</h2></div>
			<div id="pin-frame-color" class="pin-frame"><h2>Color It</h2></div>
			<div id="pin-frame-unpin" class="pin-frame"><h2>Unpin It</h2></div>
		</div>

		<div id="examples-2">
			<h2 id="fling-it">Fling It</h2>
			<h2 id="move-it">Move It</h2>
		</div>
		
		<div id="examples-parallax">
			<h2 id="parallax-it">Parallax It</h2>
			<h2 id="parallax-it-left">Parallax It</h2>
			<h2 id="parallax-it-right">Parallax It</h2>
		</div>
		
		<h2 id="bring-it">Bring It</h2>

		<div id="howtouse">
			<h1>How To Use</h1>
			<div id="caution">
				<p class="disclaimer">Please note, this is a powerful tool, and with great power comes great responsibility. <br />Use wisely. A little subtlety can go a long way.</p>
			</div>
			<p class="divider">&#9733; &#9733; &#9733;</p>
		</div>

	</div>
</div>	